<a href="https://colab.research.google.com/github/serenascalzi/introduction-to-python/blob/main/Intro_to_Python_Part_1_Complete.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![download.png]()
# Introduction to Python, Part 1

Instructor: </br>
Genevieve Milliken, MA, MSLIS </br>
Data Librarian, UNLV Libraries</br>
[genevieve.milliken@unlv.edu](mailto:genevieve.milliken@unlv.edu)</br>

# Why Python?
Python is an incredibly efficient programming language and allows you to do some impressive things with only a few lines of code! Thanks to Python’s syntax, we can write “clean” code that is easier to debug and allows for overall readability. Further, code written in Python is easily extendable and reusable, allowing you and others to build upon existing code. Python is used in a variety of contexts from game design to data analysis. It is also used a lot in academic research, especially in the sciences, and can be used for data collection (e.g., web scraping and APIs), data cleaning, data analysis, and visualization.

## Why Python for Scientific Computing?

Since it is relatively easy to use compared to other programming languages, Python has been widely adopted by researchers who don't want to spend a whole lot of time learning computer programming before they can start their actual project. Additionally, over the years an entire ecosystem of helper libraries (or "packages") has been developed to make scientific tasks even easier in Python.

You may have already heard of some of these libraries, such as [PANDAS](https://pandas.pydata.org/) (which contains functions for data analysis), [SciPy](https://www.scipy.org/) (science and engineering), [NumPy](https://www.numpy.org/) (multi-dimensional data structures and high-level mathematics), [BioPython](https://biopython.org/) (biological computing), etc. There is some overlap between these libraries, and typically you will combine features from several different libraries to accomplish your research tasks.

## Python Environment

If Python is installed on your computer, you can interact with it on the command line, sometimes referred to as the "terminal", "console", "Python shell" or "REPL" (Read, Eval, Print and Loop). More often, people use a text editor, such as [Sublime](https://www.sublimetext.com/), or more sophisticated IDEs such as [PyCharm](https://www.jetbrains.com/pycharm/) or [Visual Studio Code](https://code.visualstudio.com/) to write and run code. With a lot of setups available, you have many options to choose from!

Today, we are using a browser-based CoLab from Google which allows users to selectively run code cells and add rich text elements (paragraph, equations, figures, notes, links) in Markdown. With code, notes, instructions, and comments all in one place, it serves as a powerful resource and learning tool for you!

## Commenting Code
Any text after the # symbol is a comment for humans, and will be ignored by Python. The comments used today are to help you learn, but if you are writing code, they are added to add clarity to your code and are very helpful to collaborators, others, and your future self. Some reasons you should comment your code include:

* Makes the code easily understandable by other programmers
* The code becomes self-explanatory
* Helps remember why we used a specific command, method, or
function in the code
* Ignore some part of the code while testing and trouble shooting

**Comments should be consise and describe the over all task.**

Try running each of the code blocks below using **`Shift-Enter` (Windows) or `Command-Return`** (Mac). Any text after the # symbol is a comment for humans, and will be ignored by Python. You can also try editing the code blocks and seeing the new results.

In [ ]:
 # addition

5 + 7

12

In [ ]:
# multiplication

5 * 4

20

In [ ]:
string = "Genevieve'

In [ ]:
# division

5 / 7

0.7142857142857143

In [ ]:
# exponentiation

5 ** 2

25

In [ ]:
# boolean: "True" and "False" are reserved keywords in Python, meaning you can't use them yourself as e.g. variable names

True

True

In [ ]:
# negating a boolean

False

not True

False

In [ ]:
# not true # booleans are case-sensitive, so this will throw an error

not true

NameError: name 'true' is not defined

# Markdown

Markdown is a lightweight markup language that allows text-to-HTML. The use of markdown syntax in programming notebooks allows you to add both the plain text, notations, and code in one document so that you can easily manage your workflows.

## I can add Headings
### I can add Headings
#### I can add Headings
##### I can add Headings

Bulleted Lists:
*   Item 1
*   Item 2

Numbered Lists:

1.   List item
2.   List item

Tables

| This | is   |
|------|------|
|   a  | table|

<br>

Column | Column
------ | ------
\| Cell \|| \| Cell \|

Python Syntax Highlighting in Markdown - great for example text:

```python
record = {
  "firstName": "John",
  "lastName": "Smith",
  "age": 25
}
```

Adding hyperlinks in Markdown :
* [Markdown docs - Basic Syntax](https://www.markdownguide.org/basic-syntax/)
* [Ultimate Guide for Markdown in Jupyter Notebooks](https://medium.com/analytics-vidhya/the-ultimate-markdown-guide-for-jupyter-notebook-d5e5abf728fd)

# What does this lesson cover?

**Day 1**
* Basic Data Types
* Variables
* Lists

**Day 2**
* Dictionaries
* Loops
* Conditional Statements
* Functions

# A Note About This Class

Programming is a huge topic, and you can spend an entire lifetime learning and improving. So it's impossible for me to teach you everything you need to know in this one class. Therefore, I don't want you to get too bogged down in the details. It's OK if you leave this class without knowing the proper command for reversing a Python list. You may never have to use that command, and if you ever do, there is no shame in Googling it.

It's much more important that you leave this class knowing how and where to find help when you need it. In fact, learning to search the internet for help is a very important part of programming. No matter what you're trying to do with Python, someone else has already done it before, and has probably posted about it online to help others. You just need to Google the right words to find it!

Basically, the best way to learn Python is to find a problem that interests you, and that you need Python to solve. Once you are working towards a specific goal like this, the problems you face will become much smaller, and you'll know what questions you need to ask to accomplish your goal. For example, instead of your task being "Learn Python" (which can take an entire lifetime) your task will be, "how to get standard deviation of all numbers in a list in Python." That is much easier!

# Let's Get Started!

# 1. Data Types

Programming languages support various data types. While there are some variations, most languages support the [following types](https://www.w3schools.com/python/python_datatypes.asp):

| Type      | Name |
| ----------- | ----------- |
| Text      | str       |
|Numeric  | Int, float, complex        |
| Sequence   | List, tuple, range        |
| Mapping   | dict       |
| Sets  | Set, frozenset        |
| Boolean   | bool        |
| Binary   | Bytes, bytearray, memoryview |
| None   | None        |

The types we will encounter most these workshops are: **str, int, float, list, dict, and bool**.


### Primitive Data Types in Python
+ Numbers
  + int - integers which are whole numbers such as **3**
  + float - floats which are numbers that have a decimal place such as **-3.4**
+ Logical
  + bool - booleans are either **True** or **False**
+ Text Sequence
  + str - strings are a sequence of characters such as **'bananas'**

+ None type
  + <code>None</code> represents a null value or no value at all. It is not defined as 0 or any other numeric value. It is not the same as  false, or the empty string. It returns nothing.
  + None is not the same as 0, False, or an empty string. None is a data type of its own (NoneType) and only None can be None.
  + [Understanding None](https://realpython.com/null-in-python/#:~:text=Python%20uses%20the%20keyword%20None,and%20a%20first%2Dclass%20citizen!)

### More complex Types
+ Sequence Types
  + list - mutuable sequence of objects of any type []
  + tuple - imumutable objects ()
  + range - range of integers or whole numbers
  + ...
+ Sets - no duplications
+ Dictionaries - key value pairs
+ Functions - custom expression
+ Classes/User Defined Types - list of data set allocation attibutes and their values
+ ...

In [ ]:
# import math and get length of diagonal

import math

# length of a diagnonal

l = 4
w = 10

d = math.sqrt(l**2 + w**2)

print(d)

10.770329614269007

In [ ]:
# using type

type(d)

float

# Using Type
Parenthesis generally indicate that the previous word is a function (more on this later). For now just know that functions take input values in the parenthesis and will return some value.

The print function will output what ever arguments are passed to it to the terminal or notebook. Different variables can be passed to the print function by separating them with a comma.

**type** is another function, it will return the data type of the argument passed in the parenthesis.

integer: 3 </br>
float: 2.5 </br>
string: "apple" </br>
bool: True </br>
string: '3' </br>
string: '2.5' </br>

In [ ]:
# find type and print each
# two functions here - First we are getting the type, and second a print statement
# start with the interior function

print(type(3), 3)
print(type(2.5), 2.5)
print(type('apple'), 'apple')
print(type(True), True)
print(type('3'), '3')
print(type('2.5'), '2.5')


# only outputs the last one, so lets add some print statements

<class 'int'> 3
<class 'float'> 2.5
<class 'str'> apple
<class 'bool'> True
<class 'str'> 3
<class 'str'> 2.5

------------------
# Operations

Each datatype has a number of operations that are valid.

Here are some commmon operators, more will be covered as we progress in the course.

## Mathematical Operators (For numeric values)
+ **( )** - Parentheses are used to define the order of operation
+ **\*\*** - Exponent : x<sup>n</sup> = x\*\*n
+ **\*** - Multiplacation : 5 \* 3
+ **/** - Division : 15 / 3
+ **//** - Floor/Integer Division (rounds down to the nearest int) : 7 // 3 = 2
+ **+** - Addition : 5 + 3
+ **\-** - Subtraction : 3 - 5
+ **%** - Modulus (returns the remainder of a division) : 16 % 3

Parenthesis can help make statements less ambigous, this is a good thing

PEMDAS <br>
![pemdas.png](https://www.onlinemathlearning.com/image-files/pemdas.png)

In [ ]:
print ('1 + 2 = ', 1 + 2) # Addition
print ('2 - 1 = ', 2 - 1) # Subtraction
print ('2 * 5 = ', 2 * 5) # Multiplication
print ('6 / 2 = ', 6 / 2) # Division
print ('7 // 2 = ', 7 // 2.0) # Floor/Integer division
print ('2 ** 3 = ', 2 ** 3) # Exponent
print ('16 % 3 = ', 16 % 3) # Division
print ('(1 + 3) * (4 + 5) = ', (1 + 3) * (4 + 5)) # parenthesis
print ('1 + 3 * 4 + 5 = ', 1 + 3 * 4 + 5) # PEMDAS

1 + 2 =  3
2 - 1 =  1
2 * 5 =  10
6 / 2 =  3.0
7 // 2 =  3.0
2 ** 3 =  8
16 % 3 =  1
(1 + 3) * (4 + 5) =  36
1 + 3 * 4 + 5 =  18

In [ ]:
# practice using at least three of the operators above
# If interested, find use a math formula and try it out in our Python


print((1 + 3) * (4 + 5))
print(1 + 3 * 4 + 5)

fahrenheit = 78

to_centegrade = 5/9*(fahrenheit-32)
print(to_centegrade)

36
18
25.555555555555557

In [ ]:
 5/9*(78-32)

25.555555555555557

## String Operators

+ **+** - Addition : 'ban' + 'ana' = 'banana'
+ **\*** - Multiplacation : 'ba' * 5 = 'bababababa'
+ **[x:y:z]** - Slicing : 'banana'[0:2] = 'ba'

In [ ]:
# print the above using Python
# note the use of double and single quotes

print("ban" + "ana")

print ("Ba" * 5)
# example of index
# this will useful for lists


fruit = "Banana"
print(fruit[0:2])

banana
BaBaBaBaBa
Ba

###### String Operations

Everything in Python is an Object

+ Objects generally have attributes and methods.
+ Methods are just operations that can be applied to the object
+ These methods which are accessed using a '.' character

The following code demonstrates a couple of string operators

In [ ]:
# my location

my_location = "Lied Library"

In [ ]:
# type


type(my_location)

str

In [ ]:
# upper case

my_location = my_location.upper()
print(my_location)

LIED LIBRARY

In [ ]:
# is it uppper?

my_location.isupper()

True

In [ ]:
print("'Banana'.upper() = ", 'Banana'.upper())
print("'banana'.isupper() = ", 'banana'.isupper())
print("'BANANA'.isupper() = ", 'BANANA'.isupper())
print("'124'.isdigit() = ", '12345'.isdigit()) # note that this is a string
print("'Banana'.swapcase() = ", 'Banana'.swapcase())

'Banana'.upper() =  BANANA
'banana'.isupper() =  False
'BANANA'.isupper() =  True
'124'.isdigit() =  True
'Banana'.swapcase() =  bANANA

Python Documentation on methods - explain documentation - how to read help

In [ ]:
# using help on method

help(str.upper)

Help on method_descriptor:

upper(self, /) unbound builtins.str method
    Return a copy of the string converted to uppercase.

In [ ]:
# help on a built in function

help(print)
help("math")

In [ ]:
# f-string to format (introduced with Python 3.6)

name = "Genevieve"

f"{(name)} is pretty funny"

'Genevieve is pretty funny'

In [ ]:
# more f-string formating

More on F-strings:

https://realpython.com/python-f-strings/ </br>
https://docs.python.org/3/tutorial/inputoutput.html

Different object types (int, string, boolean, ...) will have its own set of methods which can be applied to it. These can be seen using the dir(object) command.

In [ ]:
# using dir

dir("")

In [ ]:
# using dir
dir(str)

In [ ]:
# using ?

?str.upper

# Logical Operations and Booleans

There are three logical operators **_and_**, **_or_** and **_not_**.

<br>

**and** Operator

|x|y|x and y|
|---|---|---|
|False|False|False|
|False|True|False|
|True|False|False|
|True|True|True|

<br>

**or** Operator

|x|y|x or y|
|---|---|---|
|False|False|False|
|False|True|True|
|True|False|True|
|True|True|True|

<br>

**not** Operator

|x|not x|
|---|---|
|False|True|
|True|False|

#### Example

The following code evaluates 2 boolean expressions

+ whether the number is even (no remainder)
+ modulo returns the remainder when dividing by some number
 + n%2 == 0
+ whether the number is positive
 + n > 0

Using the 2 boolean expressions 2 logical expressions are evaluated

+ whether the number is even and positive
 + n%2 == 0 **and** n > 0
+ whether the number is even **or** positive
 + n%2 == 0 or n > 0

In [ ]:
# Let's try this in Python using the number 5


num = 5

print(num%2 == 0)
print(num > 0)

print (num%2 == 0 and num > 0)
print (num%2 == 0 or num > 0)

False
True
False
True

In [ ]:
# fancy print statement using strings and tabs


num = 5

print ('positive_even :', num)
print ('\tBoolean Expressions')
print ('\t\t', num, '% 2 == 0 \t\t\t:', num%2 == 0)
print ('\t\t', num, '> 0 \t\t\t\t:', num > 0)
print ('\tLogical Expressions')
print ('\t\t', num, '% 2 == 0 and',num,'> 0 \t\t:', num%2 == 0 and num > 0)
print ('\t\t', num, '% 2 == 0 or',num,'> 0 \t\t:', num%2 == 0 or num > 0)

positive_even : 5
	Boolean Expressions
		 5 % 2 == 0 			: False
		 5 > 0 				: True
	Logical Expressions
		 5 % 2 == 0 and 5 > 0 		: False
		 5 % 2 == 0 or 5 > 0 		: True

Check out all the Python Operators: https://www.programiz.com/python-programming/operators

**These will come into play for conditional statements, but worth mentioning now**

# Storing Data in Variables
A variable is assigned a *value*. Once assigned, the variable holds the information associated with that value.
Variables are important in programming languages. In Python, the convention is to use descriptive variables to help make clear what you are trying to do in your code. Using clear variables can help you maintain your code and can help others read and understand your code.

In Python, we can assign a value to a variable, using the equals sign ```=```.

In [ ]:
# define a variable

diabetes_test = "A1C Test"

You can think about it as:
> "The variable 'diabetes_tests' *gets* the value "'A1C test"

## Example
If we wanted to track the weight of a patient who weighs 60 kilograms, we could by assigning the value 60 to a variable weight_kg:

In [ ]:
# weight in kg

weight_kg = 60

In [ ]:
# patient ID

patient_id = "001"

In [ ]:
# convert kg to lbs.

weight_lb = 2.2 * weight_kg
weight_lb

132.0

In [ ]:
# add string to print statement

print(weight_lb, "lbs.")

132.0 lbs.

In [ ]:
# concatinate with patient id with "infam_"

patient_id = "inflam_" + patient_id
patient_id

'inflam_001'

The value assigned to a variable will remain the same until you alter it. The value can be changed or reassigned within the program.

In [ ]:
# variables will hold the value you assign, but you can update that value if needed

result = 35

result = result + 10
print(result)
result += 10
#print(result)
result

45

55

In [ ]:
# you can reuse variable - but reuse with caution!

result = 2
result

2

Why can we do this? Because Python interprets one line at a time! Be careful, once a variable has been changed, it will hold that new value. When in doubt, don't re-use variable names unless you are absolutely sure that you don't need the old value any longer.
Rules for naming variables

- can only contain letters, numbers, and underscores
- can start with an underscore, but not a number
- no spaces, but an underscore can be used to separate words or you can use CamelCase
- cannot use the names of Python built-in functions or keywords
- should be short, but descriptive (glucose_level is better than gl or g_l)
- be consistent. If you start with CamelCase or snake_case, try to use it throughout

# Examples of acceptable variable names

Patient_numbers <br/>
_supply_list <br/>
experiment_001_lab <br/>
glucose_level <br/>

# Less helpful variable names

t_1 = <br/>
gl = <br/>
_hom_grad = <br/>
inventlist = <br/>
wksps = <br/>

## Reserved Words

These are words that are used by python and cannot be used as variable names

|Reserved Words|||||
|---|---|---|---|---|
|and|del|from|not|while|
|as|elif|global|or|with|
|assert|else|if|pass|yield|
|break|except|import|print|class|
|exec|in|raise|continue|finally|
|is|return|def|for|lambda|
|try|

This will cause an error

```python
lambda = 5
```

In [ ]:
lambda = 5

SyntaxError: invalid syntax (ipython-input-1238014004.py, line 1)

# Exercise

In [ ]:
# Create a few helpful variable names relevent to your work
# Assign them numeric values or text values
# Do a simple calculation and/or concatenate with strings
# Check the data type for each variable



workshop_1 = 22
workshop_2 = 38

workshop_totals = workshop_1 + workshop_2
print(workshop_totals)

60

# Lists
Lists are mutable ordered containers of other objects, meaning they can be modified and elements can be added and taken away. The elements in the list maintain their order (until modified). In Python, square brackets ([]) indicate a list, and individual elements are seperated by a comma.

In [ ]:
# print length of list


diabetes_tests = ["Fasting plasma glucose test", "A1 C Test", "Random Plasma"]
diabetes_tests

['Fasting plasma glucose test', 'A1 C Test', 'Random Plasma']

+ lists stores sequence of objects. For ex.
    ```python
    [1, 2, 3, 4, 5]
    ```
+ Elements in a list have position and order

|Index |0|1|2|3|4|
|------|-|-|-|-|-|
|List Values |1|2|3|4|5|

+ More items in a list can be of **any type**, including **mixed**.  
    ```python
    [1, 2, 'a', [3, 4]]
    ```
   
   
|Index |0|1|2|3|
|------|-|-|-|-|
|List Values |1|2|'a'|[3, 4]|
|Data Type |Int|Int|Str|List|

In [ ]:
print(len(diabetes_tests))

# Note: Python indexes start at 0, not 1

print(diabetes_tests[0:2])

#Selecting a range
#Note: "2" indicates "to, but not including"


#Selecting the last value

3
['Fasting plasma glucose test', 'A1 C Test']

List.index() let's you find where in a string an element is

In [ ]:
# create a new list and find "laura"

In [ ]:
# checking the index based on a value

In [ ]:
# will a for loop using index work?

In [ ]:
# we have to use for i in range - range is a function that generates a sequence of numbers.

## Modifying a list

### Add to a list

In [ ]:
diabetes_tests = ["Fasting plasma glucose (FPG) test", "A1C test", "Random plasma glucos (RPG) test"]

In [ ]:
# Adding using "plus" and string

In [ ]:
#Adding using the append method

In [ ]:
# Insert at a specific position

In [ ]:
# adding lists together

In [ ]:
# using extend
# parenthases, then square brackets

## Remove item by index

In [ ]:
# Remove using the pop method
# removes by index

In [ ]:
# Remove by value
# Note: this only removes the first value; to remote all values you will need to use a loop

### Testing if something is in a list

In [ ]:
help(list)

In [ ]:
# using an "in" statement

In [ ]:
# This is a conditional! More on that to come :-)

### Exercise

In [ ]:
# Create a list of objects (e.g., names, values, equipment, etc.)
# Use insert()to add somthing to the beginning of your list
# Use insert()to add somthing to the middle of your list
# Use append to add something to the end of your list
# Use extend to add two more items to the list
# use pop() to remove an item
# write a simple if statement to either find the index or an item or to check if something is in the list

# Next Class!


* Dictionaries
* Conditionals
* For Loops
* Functions